<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
</head>
<body>
</br>

<h2>&ensp;Product successfully uploaded</h2>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.btn {
  background-color: #3e5aaf;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  margin-left:4%;
    display:inline;
    margin-top:5%;
}
.btn:hover {
  background-color: RoyalBlue;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #347da4;
}
</style>

<button type='button' class='btn' onclick="location.href = '/add-prod/'">Go back</button>

<button onclick="location.href = '/homepage/'" class="btn" ><i class="fa fa-home"></i> Home</button>



</body>
</html>